<div class="container">
  <div>
    <div>
      <h1>Student registration</h1>
      <br>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="first_name">First name:</label>
        <input id="first_name" class="form-control" type="text" formControlName="first_name"><br>
        <span class="text-danger" *ngIf="(form.get('first_name').touched || submitted) && form.get('first_name').invalid">Please provide valid first name</span>
      </div>
      <div class="form-group">
        <label for="last_name">Last name:</label>
        <input id="last_name" class="form-control" type="text" formControlName="last_name"><br>
        <span class="text-danger" *ngIf="(form.get('last_name').touched || submitted) && form.get('last_name').invalid">Please provide valid last name</span>
      </div>
      <div class="form-group">
        <label for="middle_name">Middle name:</label>
        <input id="middle_name" class="form-control" type="text" formControlName="middle_name"><br>
        <span class="text-danger" *ngIf="(form.get('middle_name').touched || submitted) && form.get('middle_name').invalid">Please provide valid middle address.</span>
      </div>
      <div class="form-group">
        <label for="department">Department</label>
        <input id="department" class="form-control" type="text" formControlName="department"><br>
        <span class="text-danger" *ngIf="(form.get('department').touched || submitted) && form.get('department').invalid">Please provide department.</span>
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input id="city" class="form-control" type="text" formControlName="city"><br>
        <span class="text-danger" *ngIf="(form.get('city').touched || submitted) && form.get('city').invalid">Please provide valid city.</span>
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <textarea id="address" class="form-control" type="text" formControlName="address"></textarea><br>
        <span class="text-danger" *ngIf="(form.get('address').touched || submitted) && form.get('address').invalid">Please provide valid address.</span>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" class="form-control" type="text" formControlName="email"><br>
        <span class="text-danger" *ngIf="(form.get('email').touched || submitted) && form.get('email').invalid">Please provide valid email address.</span>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile:</label>
        <input id="mobile" class="form-control" type="text" formControlName="mobile"><br>
        <span
          *ngIf="form.controls['mobile'].hasError('hasNumber') && (submitted || form.get('mobile').touched); then notShow11_mobile; else notShow_mobile"></span>
        <ng-template #notShow11_mobile>
          <span class="text-danger"> Must have all number!</span>
        </ng-template>

        <ng-template #notShow_mobile>
					<span *ngIf="form.get('mobile').errors?.minlength  && (form.get('mobile').touched || submitted) else notShow_span_mobile" class="text-danger">
					Please enter minimum 10 charecter
					</span>
        </ng-template>
        <ng-template #notShow_span_mobile>
					<span *ngIf="form.get('mobile').errors?.maxlength  && (form.get('mobile').touched || submitted) else notShow_span" class="text-danger">
					Please enter maximum 10 charecter
					</span>
        </ng-template>

        <ng-template #notShow_span>
        <span
          *ngIf="form.get('mobile').errors?.required  && (form.get('mobile').touched || submitted)" class="text-danger">
					Please enter the mobile number!
					</span>
        </ng-template>
      </div>
      <button type="submit" >submit</button>
    </form>
  </div>
</div>

